.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
  }
  
  .dark-mode .card {
    background-color: #1e1e1e; /* Dark card background */
    border: none; /* Remove card border */
  }
  
  .dark-mode .btn-outline-secondary {
    color: #ffffff; /* Light text for button */
    border-color: #ffffff; /* Light border for button */
  }
  